<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="img1">
            <img src="{% static "img/Слой.png" %}" alt="">
        </div>
        <div class="img">
            <img src="{% static "img/gog.png" %}" alt="">
        </div>
        <div class="img">
            <img src="{% static "img/instagram.png" %}" alt="">
        </div>
        <div class="img">
            <img src="{% static "img/coolicowan.png" %}" alt="">
        </div>
        <div class="head_title">О нас</div>
        <div class="head_subtitle">Услуги</div>
        <div class="head_subtitle">Специалисты</div>
        <div class="head_subtitle">Больным</div>
        <div class="head_subtitle">Контакты</div>
        <div class="img3">
            <img src="{% static "img/wwwcoolicon.png" %}" alt="">
        </div>
        <div class="head_subtitle2">Чебоксары,<br>Энтузиастов 1А</div>
        <div class="img3">
            <img src="{% static "img/dwa.png" %}" alt="">
        </div>
        <div class="head_subtitle2">С 09:00 - 20:00</div>
        <div class="head_subtitle3">пн-сб</div>
        <div class="img3">
            <img src="{% static "img/call.png" %}" alt="">
        </div>
        <div class="num">+7900 333 10 40</div>
        <input type="submit" value="Заказать звонок" class="btn">
    </div>
</body>
</html>